In [2]:
import pandas as pd

data_path = './cat-in-the-dat/'

train = pd.read_csv(data_path + 'train.csv' , index_col = 'id')
test = pd.read_csv(data_path + 'test.csv' , index_col = 'id')
submission = pd.read_csv(data_path + 'sample_submission.csv' , index_col= 'id')

train

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,T,Y,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,0,T,N,Red,Trapezoid,Snake,India,Oboe,...,e027decef,1,Contributor,Freezing,k,K,dh,3,8,0
299996,0,0,0,F,Y,Green,Trapezoid,Lion,Russia,Piano,...,80f1411c8,2,Novice,Freezing,h,W,MO,3,2,0
299997,0,0,0,F,Y,Blue,Star,Axolotl,Russia,Oboe,...,314dcc15b,3,Novice,Boiling Hot,o,A,Bn,7,9,1
299998,0,1,0,F,Y,Green,Square,Axolotl,Costa Rica,Piano,...,ab0ce192b,1,Master,Boiling Hot,h,W,uJ,3,8,1
299999,0,0,0,F,Y,Blue,Trapezoid,Dog,Russia,Bassoon,...,ad1af2b45,3,Contributor,Freezing,i,R,tP,1,3,0

In [3]:
# 명목형 데이터 24개의 열

In [4]:
test # 명목형 데이터 23개의 열

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
300000,0,0,1,T,Y,Blue,Triangle,Axolotl,Finland,Piano,...,9d117320c,3c49b42b8,2,Novice,Warm,j,P,be,5,11
300001,0,0,0,T,N,Red,Square,Lion,Canada,Piano,...,46ae3059c,285771075,1,Master,Lava Hot,l,A,RP,7,5
300002,1,0,1,F,Y,Blue,Square,Dog,China,Piano,...,b759e21f0,6f323c53f,2,Expert,Freezing,a,G,tP,1,12
300003,0,0,1,T,Y,Red,Star,Cat,China,Piano,...,0b6ec68ff,b5de3dcc4,1,Contributor,Lava Hot,b,Q,ke,2,3
300004,0,1,1,F,N,Red,Trapezoid,Dog,China,Piano,...,f91f3b1ee,967cfa9c9,3,Grandmaster,Lava Hot,l,W,qK,4,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,0,0,0,F,N,Green,Square,Lion,Canada,Theremin,...,9e4b23160,acc31291f,1,Novice,Lava Hot,j,A,Gb,1,3
499996,1,0,0,F,Y,Green,Trapezoid,Lion,China,Piano,...,cfbd87ed0,eae3446d0,1,Contributor,Lava Hot,f,S,Ed,2,2
499997,0,1,1,T,Y,Green,Trapezoid,Lion,Canada,Oboe,...,1108bcd6c,33dd3cf4b,1,Novice,Boiling Hot,g,V,TR,3,1
499998,1,0,0,T,Y,Blue,Star,Hamster,Costa Rica,Bassoon,...,606ac930b,d4cf587dd,2,Grandmaster,Boiling Hot,g,X,Ye,2,1
499999,0,0,0,T,Y,Green,Star,Lion,India,Piano,...,4ea576eb6,2d610f52c,2,Novice,Freezing,l,J,ex,2,2

In [5]:
submission # 20000개의 행

        target
id
300000     0.5
300001     0.5
300002     0.5
300003     0.5
300004     0.5
...        ...
499995     0.5
499996     0.5
499997     0.5
499998     0.5
499999     0.5

[200000 rows x 1 columns]

In [6]:
def resumetable(df):
    print(f'데이터셋 형상 : {df.shape}')
    summary = pd.DataFrame(df.dtypes , columns = ['데이터 타입'])
    summary = summary.reset_index()
    summary = summary.rename(columns = {'index' : '피처'})
    summary['결측값 개수'] = df.isnull().sum().values
    summary['고윳값 개수'] = df.nunique().values
    summary['첫 번째 값'] = df.loc[0].values
    summary['두 번째 값'] = df.loc[1].values
    summary['세 번째 값'] = df.loc[2].values


    return summary

resumetable(train)

# 이진 (binary) 피처 : bin_0 ~ bin_4 ==> 고윳값 개수가 2개씩 ==> 이진 피처이다.
# ==> bin_0~ 2 은 데이터타입이 int로써, 실제값이 0또는 1로 구성되어있다.
# ==> bin_3~ 4 는 데이터타입이 object로써, 실제값이 T또는 F , Y또는 N이다.
# 명목형(nominal) 피처 : nom_0 ~ nom_9
# 명목형 피처는 모두 object 타입이고, 결측값은 없다.
# 순서형(ordinal) 피처 : ord_0 ~ ord_5 ==> 순서형 데이터는 순서가 중요하다
# 순서에 따라 타겟값에 미치는 영향이 다르므로 순서에 유의하며 인코딩해야 한다.
# 그 외 피처 : day , month , target

데이터셋 형상 : (300000, 24)

        피처  데이터 타입  결측값 개수  고윳값 개수       첫 번째 값       두 번째 값     세 번째 값
0    bin_0   int64       0       2            0            0          0
1    bin_1   int64       0       2            0            1          0
2    bin_2   int64       0       2            0            0          0
3    bin_3  object       0       2            T            T          F
4    bin_4  object       0       2            Y            Y          Y
5    nom_0  object       0       3        Green        Green       Blue
6    nom_1  object       0       6     Triangle    Trapezoid  Trapezoid
7    nom_2  object       0       6        Snake      Hamster       Lion
8    nom_3  object       0       6      Finland       Russia     Russia
9    nom_4  object       0       4      Bassoon        Piano   Theremin
10   nom_5  object       0     222    50f116bcf    b3b4d25d0  3263bdce5
11   nom_6  object       0     522    3ac1b8814    fbcb50fc1  0922e3cb8
12   nom_7  object       0    1220    68f6ad3e9    3b6dd5612  a6a36f527
13   nom_8  object       0    2215    c389000ab    4cd920251  de9c9f684
14   nom_9  object       0   11981    2f4cb3d51    f83c56c21  ae6800dd0
15   ord_0   int64       0       3            2            1          1
16   ord_1  object       0       5  Grandmaster  Grandmaster     Expert
17   ord_2  object       0       6         Cold          Hot   Lava Hot
18   ord_3  object       0      15            h            a          h
19   ord_4  object       0      26            D            A          R
20   ord_5  object       0     192           kr           bF         Jc
21     day   int64       0       7            2            7          7
22   month   int64       0      12            2            8          2
23  target   int64       0       2            0            0          0

In [8]:
for i in range(6):
    feature = 'ord_' + str(i)
    print(f'{feature} 고윳값 : {train[feature].unique()}')

    # 순서형 피처의 고윳값

ord_0 고윳값 : [2 1 3]
ord_1 고윳값 : ['Grandmaster' 'Expert' 'Novice' 'Contributor' 'Master']
ord_2 고윳값 : ['Cold' 'Hot' 'Lava Hot' 'Boiling Hot' 'Freezing' 'Warm']
ord_3 고윳값 : ['h' 'a' 'i' 'j' 'g' 'e' 'd' 'b' 'k' 'f' 'l' 'n' 'o' 'c' 'm']
ord_4 고윳값 : ['D' 'A' 'R' 'E' 'P' 'K' 'V' 'Q' 'Z' 'L' 'F' 'T' 'U' 'S' 'Y' 'B' 'H' 'J'
 'N' 'G' 'W' 'I' 'O' 'C' 'X' 'M']
ord_5 고윳값 : ['kr' 'bF' 'Jc' 'kW' 'qP' 'PZ' 'wy' 'Ed' 'qo' 'CZ' 'qX' 'su' 'dP' 'aP'
 'MV' 'oC' 'RL' 'fh' 'gJ' 'Hj' 'TR' 'CL' 'Sc' 'eQ' 'kC' 'qK' 'dh' 'gM'
 'Jf' 'fO' 'Eg' 'KZ' 'Vx' 'Fo' 'sV' 'eb' 'YC' 'RG' 'Ye' 'qA' 'lL' 'Qh'
 'Bd' 'be' 'hT' 'lF' 'nX' 'kK' 'av' 'uS' 'Jt' 'PA' 'Er' 'Qb' 'od' 'ut'
 'Dx' 'Xi' 'on' 'Dc' 'sD' 'rZ' 'Uu' 'sn' 'yc' 'Gb' 'Kq' 'dQ' 'hp' 'kL'
 'je' 'CU' 'Fd' 'PQ' 'Bn' 'ex' 'hh' 'ac' 'rp' 'dE' 'oG' 'oK' 'cp' 'mm'
 'vK' 'ek' 'dO' 'XI' 'CM' 'Vf' 'aO' 'qv' 'jp' 'Zq' 'Qo' 'DN' 'TZ' 'ke'
 'cG' 'tP' 'ud' 'tv' 'aM' 'xy' 'lx' 'To' 'uy' 'ZS' 'vy' 'ZR' 'AP' 'GJ'
 'Wv' 'ri' 'qw' 'Xh' 'FI' 'nh' 'KR' 'dB' 'BE' 'Bb' 'mc' 'MC' 'tM' 'NV'
 'ih' 'IK' 'Ob' 'RP' 'dN' 'us' 'dZ' 'yN' 'Nf' 'QM' 'jV' 'sY' 'wu' 'SB'
 'UO' 'Mx' 'JX' 'Ry' 'Uk' 'uJ' 'LE' 'ps' 'kE' 'MO' 'kw' 'yY' 'zU' 'bJ'
 'Kf' 'ck' 'mb' 'Os' 'Ps' 'Ml' 'Ai' 'Wc' 'GD' 'll' 'aF' 'iT' 'cA' 'WE'
 'Gx' 'Nk' 'OR' 'Rm' 'BA' 'eG' 'cW' 'jS' 'DH' 'hL' 'Mf' 'Yb' 'Aj' 'oH'
 'Zc' 'qJ' 'eg' 'xP' 'vq' 'Id' 'pa' 'ux' 'kU' 'Cl']

In [9]:
print('day 고윳값 : ' , train['day'].unique()) # day 피처의 고윳값 7개, 요일을 의미
print('month 고윳값 : ', train['month'].unique()) # month 피처의 고윳값은 1~12
print('target 고윳값 : ', train['target'].unique())

day 고윳값 :  [2 7 5 4 3 1 6]
month 고윳값 :  [ 2  8  1  4 10  3  7  9 12 11  5  6]
target 고윳값 :  [0 1]

In [10]:
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

# 타깃값 분포

In [ ]:
# 타깃값의 분포를 알면 데이터가 얼마나 불균형한지 파악이 가능하다.
# 부족한 타깃값에 더 집중해 모델링을 수행 할 수 있다.

mpl.rc('font' ,size = 15) # 폰트 크기 설정
plt.figure(figsize= (7,6)) # Figure 사이즈 크기 설정