In [1]:
import pandas as pd

# 데이터 경로

data_path = './bike-sharing-demand/'

train = pd.read_csv(data_path + 'train.csv') # 훈련 데이터
test = pd.read_csv(data_path + 'test.csv') # 테스트 데이터
submission = pd.read_csv(data_path + 'sampleSubmission.csv') # 제출 샘플 데이터

## 피처 엔지니어링

In [2]:
# ==> 피처 엔지니어링은 데이터를 변환하는 작업이다.

## 이상치 제거

In [3]:
# 훈련 데이터에서 weather 가 4가 아닌 데이터만 추출

train = train[train['weather'] != 4]

# weather가 4인 데이터(폭우,폭설이 내리는 날 저녁 6시에 대여는 이상치)

In [4]:
# 데이터 합치기

all_data_temp = pd.concat([train, test])

all_data_temp

# 훈련 데이터와 테스트 데이터에 같은 피처 엔지니어링을 적용하기 위해 두 데이터를 하나로 합친다.

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,NaN
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,NaN
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,NaN

In [5]:
all_data = pd.concat([train,test] , ignore_index=True)
all_data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3.0,13.0,16.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8.0,32.0,40.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5.0,27.0,32.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3.0,10.0,13.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
17373,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN
17374,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014,NaN,NaN,NaN
17375,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014,NaN,NaN,NaN
17376,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981,NaN,NaN,NaN
17377,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981,NaN,NaN,NaN

## 파생 피처(변수) 추가

In [7]:
from datetime import datetime

# 날짜 피처 생성

all_data['date'] = all_data['datetime'].apply(lambda x:x.split()[0])

# 연도 피처 생성

all_data['year'] = all_data['datetime'].apply(lambda x : x.split()[0].split('-'[0]))

# 월 피처 생성

all_data['month'] = all_data['datetime'].apply(lambda x : x.split()[0].split('-')[1])

# 시 피처 생성
all_data['hour'] = all_data['datetime'].apply(lambda x : x.split()[1].split(':')[0])
# 2023-04-14==> x.split()[0] 15:00:00 ==> x.split()[1]

# 요일 피처 생성
all_data['weekday'] = all_data['date'].apply(lambda dateString : datetime.strptime(dateString, '%Y-%m-%d').weekday())


all_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,year,month,hour,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16.0,2011-01-01,"[2011, 01, 01]",01,00,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40.0,2011-01-01,"[2011, 01, 01]",01,01,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32.0,2011-01-01,"[2011, 01, 01]",01,02,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13.0,2011-01-01,"[2011, 01, 01]",01,03,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1.0,2011-01-01,"[2011, 01, 01]",01,04,5

In [8]:
# datetime으로 바꾸기

all_data['datetime'] = pd.to_datetime(all_data['datetime'])

all_data['year'] = all_data['datetime'].dt.year

all_data['month'] = all_data['datetime'].dt.month

all_data['hour'] = all_data['datetime'].dt.hour

all_data['weekday'] = all_data['datetime'].dt.weekday # 요일

all_data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,year,month,hour,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3.0,13.0,16.0,2011-01-01,2011,1,0,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8.0,32.0,40.0,2011-01-01,2011,1,1,5
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5.0,27.0,32.0,2011-01-01,2011,1,2,5
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3.0,10.0,13.0,2011-01-01,2011,1,3,5
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0.0,1.0,1.0,2011-01-01,2011,1,4,5

In [9]:
#필요없는 피처 제거

drop_features = ['casual' , 'registered' , 'datetime' ,'date','month','windspeed']

all_data = all_data.drop(drop_features, axis = 1)

In [10]:
# 피처 선택을 통해 주요 피처만 선택

In [11]:
# 데이터 나누기

# 훈련 데이터와 테스트 데이터 나누기

X_train = all_data[~pd.isnull(all_data['count'])]

# null값 없는거
X_test =  all_data[pd.isnull(all_data['count'])]

# null값 포함 count에서

# 타깃값 count 제거

X_train = X_train.drop(['count'] , axis =1)
X_test = X_test.drop(['count'] , axis=1)

y = train['count'] # 타깃값

In [12]:
X_train.head()

,season,holiday,workingday,weather,temp,atemp,humidity,year,hour,weekday
0,1,0,0,1,9.84,14.395,81,2011,0,5
1,1,0,0,1,9.02,13.635,80,2011,1,5
2,1,0,0,1,9.02,13.635,80,2011,2,5
3,1,0,0,1,9.84,14.395,75,2011,3,5
4,1,0,0,1,9.84,14.395,75,2011,4,5

In [13]:
X_test.head()

,season,holiday,workingday,weather,temp,atemp,humidity,year,hour,weekday
10885,1,0,1,1,10.66,11.365,56,2011,0,3
10886,1,0,1,1,10.66,13.635,56,2011,1,3
10887,1,0,1,1,10.66,13.635,56,2011,2,3
10888,1,0,1,1,10.66,12.880,56,2011,3,3
10889,1,0,1,1,10.66,12.880,56,2011,4,3

In [16]:
X_train.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,year,hour,weekday
count,10885.000000,10885.000000,10885.000000,10885.000000,10885.000000,10885.000000,10885.000000,10885.000000,10885.000000,10885.000000
mean,2.506752,0.028571,0.680845,1.418190,20.231965,23.656213,61.884244,2011.501883,11.541020,3.014240
std,1.116132,0.166606,0.466171,0.633384,7.791094,8.474171,19.244529,0.500019,6.915879,2.004469
min,1.000000,0.000000,0.000000,1.000000,0.820000,0.760000,0.000000,2011.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,13.940000,16.665000,47.000000,2011.000000,6.000000,1.000000
50%,3.000000,0.000000,1.000000,1.000000,20.500000,24.240000,62.000000,2012.000000,12.000000,3.000000
75%,4.000000,0.000000,1.000000,2.000000,26.240000,31.060000,77.000000,2012.000000,18.000000,5.000000
max,4.000000,1.000000,1.000000,3.000000,41.000000,45.455000,100.000000,2012.000000,23.000000,6.000000

## 평가지표 계산 함수 작성

In [17]:
import numpy as np

def rmsle(y_true, y_pred ,convertExp=True):
# 지수변환
    if convertExp:
        # convertExp는 입력 데이터를 지수변환할지를 정하는 파라미터
        y_true = np.exp(y_true)
        # 실제 타깃값
        y_pred = np.exp(y_pred)
        # 예측값
    # 로그변환 후 결측값을 0으로 변환

    log_true = np.nan_to_num(np.log(y_true+1))
    log_pred = np.nan_to_num(np.log(y_pred+1))

    # RMSLE 계산
    output = np.sqrt(np.mean((log_true - log_pred)**2))
    return output

## 모델 훈련

In [18]:
from sklearn.linear_model import LinearRegression

linear_reg_model = LinearRegression()

In [19]:
log_y = np.log(y) # 타깃값 로그변환
linear_reg_model.fit(X_train, log_y)
# 모델 훈련

LinearRegression()

## 모델 성능 검증

In [20]:
preds = linear_reg_model.predict(X_train)

# 모델 성능 검증을 위해 예측을 수행하는 코드

In [21]:
print(f'선형 회귀의 RMSLE 값 :{rmsle(log_y, preds, True):.4f}')

# True를 전달했으므로 RMSLE를 계산하기 전에 지수변환을 해준다.

선형 회귀의 RMSLE 값 :1.0205

In [22]:
# 예측 및 결과 제출

linearreg_preds = linear_reg_model.predict(X_test)

# 테스트 데이터로 예측

submission['count'] = np.exp(linearreg_preds) # 지수 변환
submission.to_csv('submission.csv', index =False) # 파일로 저장

## 성능 개선 1 : 릿지 회귀 모델

In [23]:
# 릿지 회귀 모델은 L2규제를 적용한 선형 회귀 모델이다.

# 규제란 모델이 훈련 데이터에 과대적합 되지 않도록 해주는 방법이다.

# 훈련 데이터에 과대적합되면 모델이 훈련데이터에만 너무 잘 들어맞고, 테스트 데이터로는 제대로 예측하지 못한다. 따라서 모델이 과대적합되지 않게 훈련하는게 중요하다.

# 규제는 이럴때 사용하는 방법

# 릿지 회귀 모델은 성능이 좋지않다.

In [24]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
from sklearn import metrics


ridge_model = Ridge()

## 그리드서치 객체 생성

In [ ]:
# 그리드서치는 '하이퍼파라미터의 값'을 바꿔가며 '모델'의 성능을 교차검증으로 '평가'해 최적의 하이퍼파라미터 값을 찾아준다.


# 1. 비교 검증해볼 하이퍼파라미터 값 목록

# 2. 대상 모델

# 3. 교차 검증용 평가 수단(평가 함수)


# 하이퍼파라미터 값 목록과 평가 함수만 더 준비한다.

ridge_params = {'max_'}